.header{
    display: flex;
    justify-content: space-between;
    border: solid black;
}


.logo{
    width: 100px;
    height: 200px;
    border-radius: 1px;
    object-fit: cover; 
    margin-left: 0px;
    margin-top: 3.5px;
    
}

.res-container {
  display: flex;
  gap: 20px;          
  flex-wrap: wrap;   
  padding: 20px;
}



.nav-items{
    margin-top: 35px;
    margin-right: 25px;
    font-weight: 100;
    font-weight: bold;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-items > ul{
    list-style-type: none;
    display: flex;
    padding: 0px 20px;
}

.nav-items > ul > li{
    padding: 15px;
    cursor: pointer;
}

.res-card {
    width: 200px;
    height: 380px;
    border: 1px solid #dbcdcd;
    font-size: 16px;
    margin: 8px 0px;
    min-height: 24px;
    text-align: center;
    padding: 10px;
    border-radius: 12px;
    transition: all 0.3s ease;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    
}

.res-card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
    cursor: pointer;
}

.search{
    padding: 10px;
}

.res-logo{
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;


}



.res-card > ul>li{
    display: flex;

}

.res-middle{
   font-size: 14px;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   min-height: 40px;
   line-height: 20px;
   white-space: normal;
   word-break: keep-all;
   word-wrap: break-word;
   overflow-wrap: normal;
   color: #555;
}

.res-footer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-top: auto;
  
}

.res-time {
  font-size: 14px;
  color: #555;
}

.res-rating {
  background-color: #267E3E;
  color: white;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
}

.filter-btn{
    margin: 10px;
    cursor: pointer;
}


/* Container */
.Shimmer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

/* Card */
.Shimmer-card {
  width: 200px;
  height: 380px;
  border-radius: 12px;
  background-color: #e0e0e0;
  position: relative;
  overflow: hidden;
}

/* Shimmer animation layer */
.Shimmer-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -150px;
  width: 150px;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  animation: shimmer 1.2s infinite;
}

/* Animation */
@keyframes shimmer {
  0% {
    left: -150px;
  }
  100% {
    left: 100%;
  }
}

.login{
  padding: 0px 20px;
  border: 1px solid #ff5200;
  font-size: 14px;
  font-weight: 600;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.login:active {
  transform: scale(0.98);
}

.login:hover {
  
}
